.donacion{
    color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(5, 209, 63, 0.198);
}
.boton1{
    color: white;
    background-color: rgb(0, 0, 0);
}
.introducion{
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 70px;
}