@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --negro: #000000;
  --blanco: #FFF;
  --celeste: skyblue;
}

* {
  color: rgb(121, 121, 121);
  box-sizing: border-box;
  padding: 0px;
  margin: 0;

}

body {
  background: rgba(10, 10, 10, 0.981);
}

.contenedor {
  display:grid;
  max-width: 1000px;
  margin: 10px auto;
  
}
.Icono {
  margin-bottom: 100px;
  padding: 5px;
  border-radius: 12px;

  
}
.boton {
  padding: 5px;
  border-bottom: 6px;
  background-color:rgb(4, 4, 4) 
}


.Card{
  display: grid;
  color: rgb(137, 136, 136);
  margin-bottom: 2px;
  background-color: #212020;
  padding: 15px;
  border-radius: 15px;
}
.contacto {
  display: contents;
}