
:root {
  --negro: #000000;
  --blanco: #FFF;
  --celeste: skyblue;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(113, 113, 113);
  box-sizing: border-box;
  padding: 0px;
  margin: 0;

}

body {
  background: rgb(4, 29, 35);
}

.contenedor {
  color: white;
  text-align: center;
  display: grid;
  max-width: 1000px;
  margin: 10px auto;
  
}
.Icono {
  background-color: #194637f9;
  margin-bottom: 100px;
  padding: 5px;
  border-radius: 12px;

  
}
.boton {
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-bottom: 6px;
  background-color:rgb(0, 0, 0) 
}


.Card{
  text-align:center;
  color: rgb(9, 9, 9);
  margin-bottom: 2px;
  background-color: #212020;
  padding: 15px;
  border-radius: 15px;
}

.imagen{
  padding: 10px;
}
.imagen:hover {
  transform: scale(1.1);
}
.pie1 {
    color: white;
    padding: 20px;
}
.pie2{
  padding: 20px;
  border-radius: 8px;
  color: white;
  background-color: rgba(29, 123, 84, 0.246);
}
